/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: theme("fontFamily.gotham");
  background-color: #f7f9fb;
}

body {
  @apply font-gotham;
  background-color: #f7f9fb;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("/fonts/GothamPro-Bold"),
    url("/fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GothamPro-Bold.woff2") format("woff2"),
    url("/fonts/GothamPro-Bold.woff") format("woff"),
    url("/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
